body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#login {
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

#login:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f0eef1;
    gap: 20px;
}

#header {
    height: 100px;
    box-shadow: 0 0 4px 0 rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    background-color: white;
}

.copyright {
    height: 40px;
    text-align: center; 
    padding: 10px;
    background-color: #f0eef1;
}

#add {
    align-self: center;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#add:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.books {
    padding: 0 10vw;
    height: 100%;
    display: grid;
    gap: 24px;
    grid-template-rows: repeat(auto-fill, 250px);
    grid-template-columns: repeat(auto-fill, 300px);
}

.book {
    border: solid;
    border-radius: 5%;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: white;
}

.book button {
    height: 15%;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

#bookForm {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    border: solid;
    top: 18vh;
    right: 31.5vw;
    height: 50vh;
    width: 33vw;
    background-color: white;
    padding: 2vh 2vw
}

#bookForm legend {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.title, .author, .pages, .readOrNot {
    text-align: center;
}

.title input, .author input, .pages input {
    width: 60%;
    height: 24px;
}

#bookForm button {
    width: 30%;
    height: 10%;
    align-self: center;
}

.read {
    background-color: rgb(0, 200, 0);
}

.unread {
    background-color: rgb(200, 0 ,0);
}

.delete {
    background-color: #f0eef1;
}

.read:hover {
    cursor: pointer;
    background-color: rgb(0, 150, 0);
}

.unread:hover {
    cursor: pointer;
    background-color: rgb(150, 0, 0);
}

.delete:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

input:invalid {
    border: 2px dashed red;
}
  
input:valid {
    border: 2px solid green;
}